# Flutter related files
.build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub/
build/

# iOS related files
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/engine/
ios/Flutter/app.flx
ios/Flutter/app.framework
ios/Flutter/app.dSYM
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_assets
ios/Flutter/Flutter.framework

# Android related files
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/app/.cxx/

# VSCode files
.vscode/
.idea/

# Miscellaneous
*.log
.DS_Store
